[submodule "themes/adritian-free-hugo-theme"]
	path = themes/adritian-free-hugo-theme
	url = https://github.com/zetxek/adritian-free-hugo-theme.git
[submodule "static/projects/neural-network-cars"]
	path = static/projects/neural-network-cars
	url = https://github.com/jfriedson/neural-network-cars
