{{ if .Site.Data.homepage.projects.enable }}
<section id="projects" class="section-projects section rad-animation-group">
    <div class="container">
        <div class="row flex-column flex-md-row rad-fade-down">
            <div class="col-12 col-md-6">
                {{ partial "projects-description.html" . }}
            </div>
            <div class="experience-adj col-12 cold-md-12 col-sm-6 mt-sm-0">
                {{ $xp := (where .Site.RegularPages.ByDate.Reverse "Type" "projects") }}
                {{ $xpCount := len $xp }}
                {{ $totalCount := .Site.Params.homepageProjectsCount }}
                
                {{ if not .IsHome }}
                {{ $totalCount = len $xp }}
                {{ end }}
                {{ range first $totalCount $xp }}
                <div class="experience">
                    <a href="{{.Permalink}}">
                        <div class="experience__title">{{ .Params.title }}</div>
                    </a>
                </div>
                {{ end }}
                {{ if gt $xpCount $totalCount }}
                <div class="all-experience-container">
                    {{ $xpExtra := sub $xpCount $totalCount }}
                    <em>And {{ $xpExtra }} more</em><br />
                    <a href="{{ absURL "projects" }} " title=" See additional {{ $xpExtra }} projects"
                        class="btn btn-primary btn-all-experience">
                        <i class="{{ .Site.Data.homepage.projects.button3.icon }}"></i>
                        {{ .Site.Data.homepage.projects.button3.btnText }}
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}